# Fichiers de build
/dist
/.vite
/.vercel

# Dépendances
/node_modules

# Secrets (NE JAMAIS PARTAGER)
.env
.env.*
!.env.example

# Logs et fichiers locaux
npm-debug.log*
yarn-error.log*
*.local.csv
*.prod.csv
.vercel
